<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>year</key>
		<string>2018年</string>
		<key>albumArr</key>
		<array>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string>6月</string>
				<key>day</key>
				<string>09</string>
				<key>picArr</key>
				<array/>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<array/>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>year</key>
		<string>2017年</string>
		<key>albumArr</key>
		<array>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
			<dict>
				<key>type</key>
				<string></string>
				<key>month</key>
				<string></string>
				<key>day</key>
				<string></string>
				<key>picArr</key>
				<string></string>
				<key>content</key>
				<string></string>
			</dict>
		</array>
	</dict>
</array>
</plist>
