<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>1分钟前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
			<string>http://172.20.96.82/userimg/1003.jpeg</string>
			<string>http://172.20.96.82/userimg/1004.jpeg</string>
			<string>http://172.20.96.82/userimg/1005.jpeg</string>
			<string>http://172.20.96.82/userimg/1006.jpeg</string>
			<string>http://172.20.96.82/userimg/1007.jpeg</string>
			<string>http://172.20.96.82/userimg/1008.jpeg</string>
			<string>http://172.20.96.82/userimg/1009.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/01.jpeg</string>
		<key>userName</key>
		<string>张三</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>10分钟前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/02.jpg</string>
		<key>userName</key>
		<string>/yb相知、相惜/mg</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>15分钟前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/03.jpg</string>
		<key>userName</key>
		<string>王五</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>20分钟前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
			<string>http://172.20.96.82/userimg/1003.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/02.jpg</string>
		<key>userName</key>
		<string>张三</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>半小时前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
			<string>http://172.20.96.82/userimg/1003.jpeg</string>
			<string>http://172.20.96.82/userimg/1004.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/03.jpg</string>
		<key>userName</key>
		<string>张三</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>1小时前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
			<string>http://172.20.96.82/userimg/1003.jpeg</string>
			<string>http://172.20.96.82/userimg/1004.jpeg</string>
			<string>http://172.20.96.82/userimg/1005.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/01.jpeg</string>
		<key>userName</key>
		<string>张三</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>2小时前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
			<string>http://172.20.96.82/userimg/1003.jpeg</string>
			<string>http://172.20.96.82/userimg/1004.jpeg</string>
			<string>http://172.20.96.82/userimg/1005.jpeg</string>
			<string>http://172.20.96.82/userimg/1006.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/03.jpg</string>
		<key>userName</key>
		<string>张三</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>8小时前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
			<string>http://172.20.96.82/userimg/1003.jpeg</string>
			<string>http://172.20.96.82/userimg/1004.jpeg</string>
			<string>http://172.20.96.82/userimg/1005.jpeg</string>
			<string>http://172.20.96.82/userimg/1006.jpeg</string>
			<string>http://172.20.96.82/userimg/1007.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/01.jpeg</string>
		<key>userName</key>
		<string>张三</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
	<dict>
		<key>momentsMulContent</key>
		<string>这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容这是一个测试朋友圈内容</string>
		<key>momentsType</key>
		<string>1</string>
		<key>commendArr</key>
		<array>
			<dict>
				<key>commendMulStr</key>
				<string>这是一条测试评论这是一条测试评论这是一条测试评论这是一条测试评论</string>
				<key>firstUserId</key>
				<string>10001</string>
				<key>firstUserName</key>
				<string>张三</string>
				<key>secondUserId</key>
				<string>10002</string>
				<key>secondUserName</key>
				<string>李四</string>
			</dict>
		</array>
		<key>praiseArr</key>
		<array>
			<dict>
				<key>userid</key>
				<string>10001</string>
				<key>username</key>
				<string>张三</string>
			</dict>
		</array>
		<key>timeMark</key>
		<string>10小时前</string>
		<key>picArr</key>
		<array>
			<string>http://172.20.96.82/userimg/1001.jpeg</string>
			<string>http://172.20.96.82/userimg/1002.jpeg</string>
			<string>http://172.20.96.82/userimg/1003.jpeg</string>
			<string>http://172.20.96.82/userimg/1004.jpeg</string>
			<string>http://172.20.96.82/userimg/1005.jpeg</string>
			<string>http://172.20.96.82/userimg/1006.jpeg</string>
			<string>http://172.20.96.82/userimg/1007.jpeg</string>
			<string>http://172.20.96.82/userimg/1008.jpeg</string>
		</array>
		<key>userPic</key>
		<string>http://172.20.96.82/userimg/03.jpg</string>
		<key>userName</key>
		<string>张三</string>
		<key>userId</key>
		<string>zhangsan</string>
	</dict>
</array>
</plist>
