<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>发起群聊</string>
		<key>image</key>
		<string>add_message</string>
	</dict>
	<dict>
		<key>title</key>
		<string>添加朋友</string>
		<key>image</key>
		<string>bar_add_friend</string>
	</dict>
	<dict>
		<key>title</key>
		<string>扫一扫</string>
		<key>image</key>
		<string>add_scan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收付款</string>
		<key>image</key>
		<string>add_pay</string>
	</dict>
</array>
</plist>
